.cities-we-serve--container{
    background: #eef2f7;
    padding: 30px 0;
    margin-top: 30px;
}
.cities-we-serve--heading{
    line-height: 25px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.cities-we-serve--city-wrapper{
    flex-wrap: wrap;
    padding: 0 20px;
}
.cities-we-serve--city{
    width: 20%;
    line-height: 44px;
}
.cities-we-serve--more-cities{
    font-size: 14px;
    font-weight: 600;
    color: #134f70;
    margin-top: 20px;
    letter-spacing: 0.7px;
}
.cities-we-serve--check-heading{
    line-height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 14px;
}
.cities-we-serve--search{
    border-radius: 2px;
    border: solid 1px #cccccc;
    background-color: #fafafa;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    color: #666666;
    padding: 0 7px;
    width: 130px;
}
.cities-we-serve--search-button{
    max-width: 120px;
    margin-left: -2px;
}
@media (max-width: 991.98px){
    .cities-we-serve--container{
        padding: 0 8px;
        background: #fff;
    }
    .cities-we-serve--heading{
        line-height: 25px;
        margin-bottom: 12px;
        color: #333;
        font-weight: 600;
        font-size: 16px;
        justify-content: flex-start !important;
        padding: 0;
        text-align: left;
    }
    .cities-we-serve--city {
        width: 25%;
        line-height: 25px;
        font-size: 12px;
    }
    .cities-we-serve--more-cities {
        color: #ff7300;
        width: 100%;
    }
    .cities-we-serve--right{
        width: 100%;
        max-width: 100%;
        display: block !important;
        flex: 0 0 100%;
    }
    .cities-we-serve--check-heading {
        font-size: 16px;
        margin-bottom: 12px;
        margin-top: 24px;
    }
    .cities-we-serve--search-button {
        margin-bottom: 32px;
    }
}
