.doc-consultation--container{
    padding: 30px;
    margin-top: 30px;
}
.doc-consultation--data-container h6{
    color: #ff7300;
    font-weight: bold;
    text-align: center;
}
.doc-consultation--data-container p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.doc-consultation--heading{
    line-height: 25px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
    font-size: 24px;
}
.doc-consultation--image-legend-wrpr{
    margin-top: 56px;
}
.doc-consultation--legend-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #eef2f7;
    line-height: 100px;
    text-align: center;
    margin-right: 32px;
    font-size: 46px;
    color: #00B8D0;
}
.doc-consultation--legend-heading{
    line-height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 7px;
}
.doc-consultation--legend-desc{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.doc-consultation--legend-button{
    width: 180px;
    margin-right: 24px;
}
@media (max-width: 991.98px) {
    .doc-consultation--container{
        margin: 32px 0 0;
        padding: 0 8px;
    }
    .doc-consultation--heading{
        margin-bottom: 0;
        font-size: 16px;
        text-align: left;
        justify-content: flex-start !important;
    }
    .doc-consultation--legend-icon{
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-right: 14px;
        font-size: 34px;
    }
    .doc-consultation--image-legend-wrpr{
        margin-top: 12px;
        justify-content: flex-start !important;
    }
    .doc-consultation--legend-heading{
        font-size: 14px;
    }
    .doc-consultation--main-wrpr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .doc-consultation--legend-button{
        width: calc(50% - 6px);
        margin-right: 0;
        margin-top: 16px;
        &:first-child{
            margin-right: 12px;
        }
    }
}
