.menubar-mobile
{
    width: 100%;
    max-width: 820px;
    font-size: 12.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: left;
    margin: 0 auto;
    padding-left:16px;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    .navheaderlink
    {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #666666;
        height:15px;
        margin-bottom:8px;
        margin-top: 24px;

    }
    .subheaderlink
    {
        font-size: 16px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #0b2c3e;
        display: 'list-item';

            .linkcontainer {
                align-self: flex-start;
                border: 0px;
                background-color: white;
                /* margin-left: 0px; */
                padding-left: 0px;
                width: 100%;
                display: flex;
                height:100%;

                &:focus {

                    outline:0!important;
                    box-shadow: none !important;

                }


            }
            .menubar-icon {
                margin-right:24px;
                font-size:24px;
                vertical-align:middle!important;
                width:24px;
                height:24px;
            }
            span{
                color: #0b2c3e;
                margin-top:5px;

            }
    }

}
.user--profile--container
{
    width:100%;
    background-color: #eef2f7;
    position:relative;
    height:98px;
}
.navbar--user-profile{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding: 41px 0px 0px 16px;
    color: #333333;
}
.navbar--user-mobile{
    font-size: 13px;
    font-weight: normal;
    color: #666666;
    padding: 0px 0px 15px 16px;
}
.mobile-menu-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size:25px;
    cursor: pointer;
}
.mobile-menu-edit {
    position: absolute;
    top: 50px;;
    right: 17px;
    font-size:20px;
    cursor:pointer;
}
